<head>
        <meta content='text/html; charset=UTF-8' http-equiv='content-type'>
        <meta charset='utf-8'>
        <title>
            CareerSeekers New Australian Internship Program
        </title>
        <meta content='CareerSeekers' name='generator'>
        <meta content='IE=edge' http-equiv='X-UA-Compatible'>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport'>
        {% csrf_meta %}
        <!--<link href="{{ 'logo.png' | theme_image_url }}" rel='shortcut icon'>-->
        <link href="https://lh3.googleusercontent.com/YeVhPaIVcb4JaBoIA6ayXkMFejxhJLC5kBa2sxNNB1feZgbv0EZDZ4SutsR_qZRUpSE8Ks77gMevIylIS-XqRLA1COgYsa-tFzRgjkYRb2hLDeTKUVU2s59FXNtMMAvrcWsmfuFhhBTQ9Mmc1mTF5tcrwUkDmvQf47Ky6LuUS81qCszpfhkWmcWjQpKotf8-WaQwPuQ7r3heldfOjapVs6vpmosdfsIjTuLqQFSekwG8OEY4SKmietPzvKLvp0maFl0Gc1NtFm7VUH5KuSHQl16b65GruLIPOjhknPGxLB0s0Efu7smy4xWQhs61S5ZKUWNDymeLWEtO6I4ZvN3fOOmwKW7HvCQfWFmPcC89hsEnxxu73IrCfflOafuzg2QqLO36CM5SRMFBIrqwIRgA_Palsi_aB-171DGX06iKILUvD-kcH4cREuV14WnnxsyW3a0xNAVxt3Zo7wH_-xUCESkZt4nVqANopnZKlsbdN2LByeeJvbSRTWR58qdWycYmpvzjNto5zVGkpzrpUFdAxMM3dP5kK3g70qBD3NkaMV2e-flmjFcT5CNfdZr6cKr4uILA_OFVJJ0F8QDYS2IeqcoLH0qmZuM3yrA4i0LSKsUebI8y=w300-h289-no" rel='shortcut icon'>
        <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
        <style>#gmap_canvas img{max-width:none!important;background:none!important}</style>

        <link href="http://119.9.8.33/sites/533a6766f92ea180dd000002/theme/stylesheets/jquery.fullPage.css">


        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen" rel="stylesheet" type="text/css">
        <link href="http://119.9.8.33/sites/533a6766f92ea180dd000002/theme/stylesheets/datepicker.css" media="screen" rel="stylesheet" type="text/css">
        <link href="http://119.9.8.33/sites/533a6766f92ea180dd000002/theme/stylesheets/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
        <link href="http://119.9.8.33/sites/533a6766f92ea180dd000002/theme/stylesheets/bootstrapValidator.min.css" media="screen" rel="stylesheet" type="text/css">
        <link href="http://119.9.8.33/sites/533a6766f92ea180dd000002/theme/stylesheets/seekers-styles.css" media="screen" rel="stylesheet" type="text/css">
        <script src="https://use.fontawesome.com/d9631d4819.js"></script>
        
        <!--
{{ 'styles.css' | stylesheet_tag: 'all' }}
{{ 'bootstrap.min.css' | stylesheet_tag: 'all' }}
{{ 'font-awesome.min.css' | stylesheet_tag: 'all' }}
{{ 'styles.css' | stylesheet_tag: 'all' }}
{{ 'datepicker.css' | stylesheet_tag }}
{{ 'bootstrapValidator.min.css' | stylesheet_tag }}-->
        <!--[if lt IE 9]>
{{ '//html5shim.googlecode.com/svn/trunk/html5.js' | javascript_tag }}
<![endif]
-->


    </head>
<header>

  <nav class='navbar navbar-custom notrounded' role='navigation'>
    <div class='container-fluid' style="margin-left: 0px;padding-left:0px">
      <div class='navbar-header'>
        <button class='navbar-toggle' data-target='#bs-example-navbar-collapse-1' data-toggle='collapse' type='button'>
          <span class='sr-only'>Toggle navigation</span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
      </div>
      <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
        <ul class='nav navbar-nav' id="seekers-nav">
          <li>
              <div class=" " style="width:60px;height: 50px;text-align: center">
                  <a href='/'>
                    <img class='img-responsive' id="seekers-mini-logo" src="http://119.9.8.33/sites/533a6766f92ea180dd000002/theme/images/whiteminics.png" hspace="7" style=" width:70%; padding-right: auto; padding-left: auto;padding-top:5px">
                  </a>
              </div>
          </li>
          {% nav 'site', no_wrapper: true, active_class: "active", bootstrap: true, depth: 2 %}
        </ul>
        <ul class='nav navbar-nav navbar-right visible-lg' style="height:50px">
          <li>
            <a class='social-media-icons' href='https://www.linkedin.com/company/careerseekers-new-australian-internship-program' target='_blank'>
              <span class='fa-stack fa-lg'>
                <i class='fa fa-square-o fa-stack-2x'></i>
                <i class='fa fa-linkedin fa-stack-1x'></i>
              </span>
            </a>
          </li>
          <li>
            <a class='social-media-icons' href='https://www.facebook.com/CareerSeekers-New-Australian-Internship-Program-878407625570190' target='_blank'>
              <span class='fa-stack fa-lg'>
                <i class='fa fa-square-o fa-stack-2x'></i>
                <i class='fa fa-facebook fa-stack-1x'></i>
              </span>
            </a>
          </li>
          <!--<li>
            <a class='social-media-icons' href='https://twitter.com/CareerTrackers' target='_blank'>
              <span class='fa-stack fa-lg'>
                <i class='fa fa-square-o fa-stack-2x'></i>
                <i class='fa fa-twitter fa-stack-1x'></i>
              -->
              </span>
            </a>
          </li>
          <li>
            <a class='social-media-icons' href='https://www.youtube.com/channel/UCZ7zXWMlTvRmxE4ISZx2tbQ' target='_blank'>
              <span class='fa-stack fa-lg'>
                <i class='fa fa-square-o fa-stack-2x'></i>
                <i class='fa fa-youtube fa-stack-1x'></i>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
