---
title: Our Team
slug: our-team
position: 3
listed: true
published: true
is_layout: false
seo_title: Our Team
editable_elements:
  main/banner: ''
---
{% extends parent %}
{% block main %}

<div class='container-fluid'>
  {% include page_header %}
  {% for team_location in contents.team_locations %}
  <div class='container-fluid'>
    <div class='row bottom-margin-large'>
      <div class='col-lg-12'>
        <!--
        <h2 class='orange-text'>
          {{team_location.location | escape}}
        </h2>
        -->
      </div>
    </div>
    {% for team_member in team_location.team_members %}
    <div class='container-fluid bottom-margin-large'>
      <div class='row bottom-margin-medium'>
        <div class='col-lg-5'>
          <img alt='{{team_member.name | escape}}' class='profile-picture ' src='{{team_member.url | escape}}'>
        </div>
        <div class='col-lg-7'>
          <h3>{{team_member.name | escape}}</h3>
          <h4 class='profile-position'>{{team_member.position | escape}}</h4>
          <h5>
            <a href='mailto:{{team_member.email | escape}}'>{{team_member.email | escape}}</a>
          </h5>
          <p class='profile-description'>
            {{team_member.description}}
          </p>
        </div>
      </div>
      <!--<div class='row'>
        <div class='col-lg-9'>
          <p class='profile-description'>
            {{team_member.description}}
          </p>
        </div>
      </div>-->
    </div>
    {% endfor %}
  </div>
</div>
  {% endfor %}
{% endblock %}
