---
title: Participant Stories
slug: participants-stories
position: 4
listed: true
published: true
is_layout: false
seo_title: Participants Stories
editable_elements:
main/stories/stories: "<h3>\r\n       Click on the videos to hear some of our participants
    share their stories\r\n     </h3>"
---
{% include header2 %}
{% block main %}

{% block stories %}
<div class="fixed-bg bg-1" style="">
    <div class='container marketing'>
        <!--  <div class='page-header container text-center white-background'>-->
        <div class='lead'style="text-align:center">
            {% editable_text 'stories' %}
        
            <h3>
                Click on the videos to hear our participants share their stories
            </h3>
            {% endeditable_text %}
        </div>
        <div class='lead'style="text-align:center">
            
            <h3>
                2017
            </h3>
            
        </div>
        
        <div class='row'>
            {% for story in contents.2017_stories %}
            <div class='col-lg-4'>
                <a href="" data-target="#{{story._slug}}-modal" data-toggle='modal'><img alt='{{story.student_name | escape }}' src='{{story.url | escape }}' ></a>
                <h3 style="line-height:0.2em;">  {{story.student_name | escape }}</h3>
                <p>  {{story.origin | escape }}</p>
                <b>{{story.participant_stream | escape }}</b>
                <p>{{story.company | escape }}</p>
        

                <div aria-hidden='true' class='modal fade' id='{{story._slug}}-modal' role='dialog' tabindex='-1'>
                    <div class='modal-dialog'>
                        <div class='modal-content'>
                            <div class='modal-header'>
                                <button aria-hidden='true' class='close' data-dismiss='modal' type='button'>×</button>
                                <h2 class='modal-title' id='myModalLabel'>{{story.student_name}}</h2>
                            </div>
                            <div class='modal-body'>
                                <div class='player' id='{{story._slug}}-video' src='{{story.youtube_video_url | escape}}'></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class='lead'style="text-align:center">
            
            <h3>
                2016
            </h3>
            
        </div>
        <div class='row'>
            {% for story in contents.stories %}
            <div class='col-lg-4'>
                <a href="" data-target="#{{story._slug}}-modal" data-toggle='modal'><img alt='{{story.student_name | escape }}' src='{{story.url | escape }}' ></a>
                <h3 style="line-height:0.2em;">  {{story.student_name | escape }}</h3>
                <p>  {{story.participant_stream | escape }}</p>
                <b>{{story.stream | escape }}</b>
                <p>{{story.company | escape }}</p>
                
                <div aria-hidden='true' class='modal fade' id='{{story._slug}}-modal' role='dialog' tabindex='-1'>
                    <div class='modal-dialog'>
                        <div class='modal-content'>
                            <div class='modal-header'>
                                <button aria-hidden='true' class='close' data-dismiss='modal' type='button'>×</button>
                                <h2 class='modal-title' id='myModalLabel'>{{story.student_name}}</h2>
                            </div>
                            <div class='modal-body'>
                                <div class='player' id='{{story._slug}}-video' src='{{story.youtube_video_url | escape}}'></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}
{% endblock %}
{% include footer %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACu7936Ft2gKVaG9vHlx8IL_QTdS1pHbE&callback=initMap"
        async defer></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript" ></script>
<script src="http://119.9.8.33/sites/533a6766f92ea180dd000002/theme/javascripts/bootstrap.min.js" type="text/javascript" ></script>
<script src="http://119.9.8.33/sites/533a6766f92ea180dd000002/theme/javascripts/bootstrap-datepicker.js" type="text/javascript" ></script>
<script src="http://119.9.8.33/sites/533a6766f92ea180dd000002/theme/javascripts/docs.min.js" type="text/javascript" ></script>
<script src="http://119.9.8.33/sites/533a6766f92ea180dd000002/theme/javascripts/player.js" type="text/javascript" ></script>
<script src="http://119.9.8.33/sites/533a6766f92ea180dd000002/theme/javascripts/nod.min.js" type="text/javascript" ></script>
<script src="http://119.9.8.33/sites/533a6766f92ea180dd000002/theme/javascripts/spin.js" type="text/javascript" ></script>
<script src="http://119.9.8.33/sites/533a6766f92ea180dd000002/theme/javascripts/jquery.fullPage.js" type="text/javascript" ></script>
